@import '../../style/var-g.scss';

.about{
    display: flex;
    flex-direction: column;
    width: 91%;
    margin: auto;
    justify-content: center;
}

.aboutCollapsibles{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}

@media (max-width: $layout-breakpoint-small) {
    .about{
        width: 91%;
    }

    .aboutCollapsibles{
        width: 94%;
        margin: 0px auto;
        padding-left: 0px;
        margin-left: 0px;
    }
}