.main{
  margin: 35px;
}

.banner{
  height: 150px;
  margin-bottom: 50px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catchPhrase{
  color: white;
}

.container-cards{
  height: fit-content;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  border-radius: 20px;
}