@import '../../style/var-g.scss';

.card{
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 10px;
    background-position: center;
    &-title{
        color: white;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-left: 15px;

    }
}

@media (max-width: $layout-breakpoint-small){
    .card{
        width: 350px;
    }
}

