@import '../../style/var-g.scss';

.sizeMgmt{
   width: 100%;
   
}

.collapsibleTitle{
    width: 95%;
    max-width: 800px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $primary;
    color: white;
}

.collapsibleContent{
    width: 95%;
    max-width: 800px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    background-color: #F6F6F6;
    color: $primary;
    position: relative;
    top: -5px;
    z-index: -1;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.collapsibleTitleBig {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $primary;
    color: white;
    margin: auto;
}

.collapsibleContentBig {
    width: 95%;
    height: fit-content;
    border-radius: 5px;
    background-color: #F6F6F6;
    color: $primary;
    position: relative;
    top: -5px;
    z-index: -1;
    overflow: scroll;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
}

li{
    list-style: none;
}

.wrap{
    
    overflow: scroll;
}

//media queries
@media (max-width: $layout-breakpoint-medium) {
    .collapsibleTitle {
        margin: auto;
        padding: 5px;
    }

    .collapsibleContent {
        margin: auto;
        padding: 5px;
    }
}
@media (max-width: $layout-breakpoint-small){
    .collapsibleTitle{
        margin: auto;
        padding: 5px;
    }
    .collapsibleContent{
        margin: auto;
        padding: 5px;
    }
}

