@import '../../style/var-g.scss';

.collapsibleTitle{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $primary;
    color: white;
}

.collapsibleContent{
    width: 400px;
    height: 150px;
    padding: 20px;
    border-radius: 5px;
    background-color: #F6F6F6;
    color: $primary;
    position: relative;
    top: -5px;
    z-index: -1;
    overflow: scroll;
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

.wrap{
    
    overflow: scroll;
}