@import '../../style/var-g.scss';

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background-color: $footer-color;
    color: $footer-font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.style-logo{
    color: white;
}

.copyright{
    display: flex;
    align-items: center;
    gap: 5px;
}