@import '../../style/var-g.scss';


.layoutErrorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 288px;
    color: $primary;
    margin-bottom: 0;
}

h2{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    line-height: 51.34px;
    color: $primary;
}

.lien{
    color: $primary;
    margin-top: 170px;
    text-decoration: underline;
}